body {
  margin: 0;
  padding-top: 105px;
}

.header {
  position: relative;
  background-color: rgb(110, 108, 108);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}
.bm {
  font-size: 30px;
}
.nav-scroll {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
.navbutton {
  font-size: 20px;
  text-decoration: none;
  color: rgb(202, 140, 140);
  transition: 350ms;
  transition-property: all;
  cursor: pointer;
}
.navbutton:hover {
  color: rgb(212, 212, 212);
  text-decoration: underline;
  font-size: 25px;
}
.navbar-button {
  flex: 1;
  display: none;
  justify-content: end;
  align-items: center;
}
.navbar-img {
  height: 50px;
  width: 50px;
}
.navbar-img:hover {
  cursor: pointer;
}
.navbutton {
  padding: 0;
  height: 50px;
}
.when-click {
  display: none;
  margin-top: -20px;
}
.but2 {
  display: none;
}
/*-------------Home-----------------------------*/
.homes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.home-logo {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
}
.name-logo {
  font-size: 50px;
  margin-left: 150px;
}
.d-logo {
  font-weight: 550;
}
.disc {
  font-size: 25px;
  width: 500px;
  font-style: italic;
  font-weight: 400;
}
.home-profile {
  flex: 1;
  display: flex;
  justify-content: center;
}
.my-home-pic {
  height: 500px;
  width: 400px;
  border-radius: 20%;
}
/*-----------Service Section-----------------------------*/
.service-head {
  text-align: center;
  font-size: 50px;
}
.service-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.service-pic {
  height: 170px;
  border-radius: 20px;
}
.service-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 15px;

}
.service-section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.call {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
/*--------------Contact Section-------------------------*/
.contact {
  text-align: center;
  font-size: 50px;
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reach {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-left: 100px;
}
.contact-title {
  font-size: 40px;
}
.contact-icon {
  height: 30px;
  width: 30px;
}
.information {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.resume {
  text-decoration: none;
}
.pics {
  flex: 1;
}
.my-pic {
  height: 400px;
  border-radius: 50px;
}
.media-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.my-contact-2 {
  height: 300px;
  border-radius: 50%;
}
.media-icon-head {
  display: flex;
  flex-direction: row;
}
.media-icon {
  height: 30px;
}
.form-head {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-form {
  font-size: 25px;
  font-weight: bold;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.name-input {
  height: 20px;
  width: 400px;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  
}
.the-message {
  padding-bottom: 100px;
  width: 400px;
  border-radius: 5px;
  
}
.send-button {
  width: 100px;
  height: 30px;
  background-color: rgb(114, 96, 96);
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
/*--------About Section----------------------------*/
.about {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
.about-section {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}
.about-head {
  flex: 1;
  font-size: 25px;
  display: flex;
  align-items: start;
  text-align: center;
  font-weight: bold;

}
.img-about1 {
  flex: 1;
  display: flex;
  align-items: center;
}
.about-pic1 {
  height: 300px;
  width: 100%;
}
.about-pic2 {
  height: 500px;
  width: 100%;
  
}
.about-head2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.head2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.p2 {
  font-size: 18px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
/*> > > > > > > > Responsive < < < < < <  < < < < < < */

 @media screen and (max-width: 500px) {
  
  /*------Header responsive-------------*/

  .header {
    height: 40px;
  } 
  .navbar-img {
    height: 30px;
    width: 30px;
  }
  .nav-scroll {
    display: none;
  }
  .navbar-button {
    display: flex;
  }
  .when-click {
    height: 100px;
    width: 100%;
    background-color:black;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 5px;
  }
  .navbar-img {
    margin-right: 5px;
  }
  .but2 {
    display: flex;
  }
  body {
    padding-top: 35px;
  }
  .navbutton {
    font-size: 10px;
    font-weight: bold;
    color: rgb(255, 246, 246);
  }

  /*----------------home section--------------------*/
 .homes {
  height: 300px;
 } 
 .name-logo {
  font-size: 20px;
  margin-left: 20px;
 }
 .disc {
  font-size: 10px;
  width: 150px;
 }
 .my-home-pic {
  height: 200px;
  width: 150px;
 }
 
  /*-----------SERvice Section--------------------------*/
  .service-head {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .service-section {
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  .phone-service {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-pic {
    height: 80px;
  }
  .service-name {
    font-size: 12px;
  }
  .service-text {
    text-align: center;
    font-size: 10px;
    width: 70%;
  }
  .service-section2 {
    gap: 0;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .call {
    height: 100px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  /*--------Contact-Section------------*/
  .contact {
    font-size: 30px;
  }
  .reach {
    gap: 10px;
    margin-left: 20px;
    font-size: 10px;
  }
  .contact-title {
    font-size: 15px;
  }
  .contact-icon {
    height: 10px;
    width: 10px;
  }
  .my-pic {
    height: 150px;
    border-radius: 10px;
  }
  .contact-form {
    margin-left: 15px;
  }
  .my-contact-2 {
    height: 120px;
  }
  .media-icon {
    height: 20px;
  }
  .title-form {
    font-size: 15px;
  }
  .name-input {
    height: 10px;
    width: 85%;
    font-size: 12px;
    padding: 5px;
  }
  .the-message {
    padding-bottom: 40px;
    width: 88%;
    font-size: 12px;
    margin-bottom: 0;
  }
  .send-button {
    width: 25%;
    height: 15px;
    font-size: 10px;
    margin-top: 0;
  }
  /*----------about section----------*/
  .about {
    font-size: 30px;
  }
  .about-section {
    gap: 5px;
  }
  .about-head {
    font-size: 7px;
  }
  .about-pic1 {
    height: 100px;
    width: 99%;
  }
  .about-head2 {
    gap: 5px;
    padding-bottom: 20px;
  }
  .about-pic2 {
    height: 150px;
    width: 99%;
  }
  .p2 {
    font-size: 5px;
  }
 }

 
